It is required a frame for the IntelRealSense Camera model R200. This frame must not damage in any way the camera, including scratch. It must be easy mounting and dismounting, but against falling. The camera has in the back a magnet that matches with a sticky metalic block for mounting in any device, this parts must be included in the design to avoid lossing the parts in the future.